body {
    background: powderblue;
    font-size: 20px;
}


h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: blueviolet;
    text-align: center;
}

h3 {
   background: white; 
   text-align: center;
}

p.1 {
    color: pink; 
}

div.a {
    text-align: center;
  }

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }