body {
    background: pink;
}


h1 {
    color: blue;
}

h2 {
    color: violet;
}

h3 {
   background: white; 
   text-align: center;
}


.green-text {
    color: greenyellow;
}

#animate-hover:hover {
    color: pink;
}