body {
    background: powderblue;
}


h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: violet;
    text-align: center;
}

h3 {
   background: white; 
   text-align: center;
}


.green-text {
    color: greenyellow;
}

#animate-hover:hover {
    color: pink;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Monaco", monospace;
  }